name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    first-job:
        
        runs-on: ubuntu-latest
        
        container:
            image: node:lts
        
        steps:
          - name: Check out repo
            uses: actions/checkout@v3

          - name: Install Dependencies
            run: npm install --save-dev @nomiclabs/hardhat-etherscan @nomiclabs/hardhat-ethers ethers @nomiclabs/hardhat-waffle ethereum-waffle chai dotenv
          
          - name: Compile
            run: npx hardhat compile
              
          - name: Test
            run: npx hardhat test
          
          - name: Run
            run: npx hardhat run sc_devops/deployments/deployToken.js
